<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PSXDownloadHelper.AppSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PSXDownloadHelper.AppSettings>
      <setting name="Language" serializeAs="String">
        <value>zh-CHS</value>
      </setting>
      <setting name="Rule" serializeAs="String">
        <value>*.pkg*|*.pup*</value>
      </setting>
      <setting name="lixian1" serializeAs="String">
        <value>QQ离线</value>
      </setting>
      <setting name="lixian2" serializeAs="String">
        <value>迅雷离线</value>
      </setting>
      <setting name="host1" serializeAs="String">
        <value />
      </setting>
      <setting name="host2" serializeAs="String">
        <value />
      </setting>
      <setting name="cookie1" serializeAs="String">
        <value />
      </setting>
      <setting name="cookie2" serializeAs="String">
        <value />
      </setting>
      <setting name="lixianConfig" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsUsePcProxy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUserLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLixian" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="Ip" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCheckUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="IsAutoCheckUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ssid" serializeAs="String">
        <value />
      </setting>
      <setting name="ApPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>#66C0B8</value>
      </setting>
      <setting name="PDHBackImg" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsDimrule" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUseCdn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastCheckCdn" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="IsHideFrm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUseCustomeHosts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUseLixian" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAutoFindFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalFileDirectory" serializeAs="String">
        <value>D:\PssDownload</value>
      </setting>
      <setting name="IsShowLog" serializeAs="String">
        <value>True</value>
      </setting>
    </PSXDownloadHelper.AppSettings>
  </userSettings>
</configuration>